body {
    background-image: url(../static/Images/kontakt.jpeg);
    background-color: #cccccc;
}
.green-line {
    background-color: green;
    height: 50px;
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;

}
body {background-color: grey;}
/* Logo */
.logo img
{
    width: 5%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -25px;
    margin-left: 15px;
    margin-bottom: 10px;
}
/* Navigationsbar */
.topnav {
    background-color: green;
    overflow: hidden;
    margin-top: -25px;
    display: flex;
    justify-content: space-between;

}
/* Text indeni */
.topnav a {
    float: left;
    color: white;
    margin-top: 10px;
    text-decoration: 1px;
    font-size: 19px;
    padding: 26px 150px 16px 14px;
    text-align: center;

}

/* Hover på navigation */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Activt link */
.topnav a.active {
    padding-top: 26px;
    background-color: darkgreen;
    color: white;

}
/* Donate */
form input[type="image"]
{
    margin-top: 35px;
}

.image
{
    opacity: 25%;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}