<!DOCTYPE html>
<html lang="dk">
<link rel=stylesheet type="text/css" href="../static/consecvense.css">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
<div class="background">
    <div class="navbar">
        <img src="../static/images/logo123.png" alt="logo" class="logo">
        <ul>
            <li><a href="home.html"> Hjem </a> </li>
            <li><a href="wtd.html"> Hvad du kan gøre</a> </li>
            <li><a href="consecvense.html"> Madsplids konsekvens</a> </li>
            <li><a href="contact.html">Kontakt</a> </li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=QP2R7E7Y9CC96"> Donationer</a> </li>
        </ul>
    </div>
    <div class="content">

        <h1>Konsekvensen af madspild</h1>
        <br>
        <p>1/3 af alle fødevarer der produceres går til spilde. Dvs. at meget af fødevareproduktionen unødvendigt bruger meget CO2</p>
        <br>
    </div>
    <div class="contentproof">
        <img src="../static/images/img4.png" alt="CO2 udledning">

    </div>
    <div class="content2">
        <br>
    <p>Som du kan se på billedet står fødevarerproduktionen for 26% af den globale udledning(52.3 Ton) <br> Det vil sige at fødevareproduktionen står for 13,6 Ton CO2 om året</p>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
</body>
</html>