<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type="text/css" href="../static/home.css">
<head>
    <meta charset="UTF-8">
    <title> Madspild </title>
</head>
<body>
<div class="background">
        <div class="navbar">
            <img src="../static/images/logo123.png" alt="logo" class="logo">
            <ul>
                <li><a href="home.html"> Hjem</a> </li>
                <li><a href="wtd.html"> Hvad du kan gøre</a> </li>
                <li><a href="consecvense.html"> Madsplids konsekvens</a> </li>
                <li><a href="contact.html">Kontakt</a></li>
                <li><a href="https://www.paypal.com/donate/?hosted_button_id=QP2R7E7Y9CC96"> Donationer</a> </li>
            </ul>
        </div>
<!-- Knapper -->
    <div class="content">
        <h1>STOP MADSPLILD</h1>
        <p>Vær en del af løsningen, ikke problemet. Læs mere her:</p>
        <div>
          <a href="wtd.html">  <button type="button"><span></span> Hvad du kan gøre </button></a>
           <a href="consecvense.html"> <button type="button"><span></span>Madspilds konsekvens</button></a>
        </div>
    </div>
</div>
</body>
</html>