<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="widht=device-width, initial-scale=1.0" />
<link rel=stylesheet type="text/css" href="../static/home.css">
<meta name="viewport" content="width=500, initial-scale=1" />
<head>

    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title> Madspild </title>
</head>



<!-- Navigationsbar !-->
<body>
<div class="background">
</div>
<div class="banner">
<div class="navbar">
<img src="../static/Images/logo.png" class="logo">
    <ul>
        <li><a href="home.html"> Hjem</a> </li>
        <li><a href="WTD.html"> Hvad du kan gøre</a> </li>
        <li><a href="#"> Doner</a> </li>
    </ul>

</div>
</div>

<div class="hometext">
    <h2>Fakta om madsplild</h2>
<ul class="list">
    <li>Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.</li>
    <li> Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år, svarende til 72 % af servicesektorens madspild.</li>
    <li> detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.</li>
</ul>
</div>
<h1> Hvis du gerne vil vide mere om madsplild, så kan du se denne dokumentar</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6RlxySFrkIM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>