<!DOCTYPE html>
<html lang="dk">
<link rel=stylesheet type="text/css" href="../static/info.css">
<head>
    <meta charset="UTF-8">
    <title>Information</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="banner">
    <div class="navbar">
        <img src="../static/Images/logo2.png" alt="logo" class="logo">
        <ul>
            <li><a href="home.html"> Hjem </a> </li>
            <li><a href="wtd.html"> Hvad du kan gøre</a> </li>
            <li><a href="information.html"> Madsplids konsekvens</a> </li>
            <li><a href="contact.html">Kontakt</a> </li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=QP2R7E7Y9CC96"> Donationer</a> </li>
        </ul>
    </div>
</div>

</body>
</html>