<!DOCTYPE html>
<html lang="dk">
<link rel=stylesheet type="text/css" href="../static/wtd.css">
<head>
    <meta charset="UTF-8">
    <title> Madspild </title>
</head>
<body>
<div class="background">
    <div class="navbar">
        <img src="../static/images/logo123.png" alt="logo" class="logo">
         <ul>
             <li><a href="home.html"> Hjem </a> </li>
             <li><a href="wtd.html"> Hvad du kan gøre</a> </li>
             <li><a href="consecvense.html"> Madsplids konsekvens</a> </li>
             <li><a href="contact.html">Kontakt</a> </li>
             <li><a href="https://www.paypal.com/donate/?hosted_button_id=QP2R7E7Y9CC96"> Donationer</a> </li>
         </ul>
    </div>
    <div class="content">
        <h1> Tips og tricks til hvordan du ungår madspild i din hverdag </h1>
        <br>
        <p>Det første man skal være opmærksom på er når man køber ind.<br>Her kan du både spare mange penge, og passe på miljøet på samme tid.<br>Måden du gør dette på er at tænke et par skridt frem.</p>
        <br>
        <h2>For at bekæmpe madspild er der 100 ting du kan gøre.</h2>
        <br>
        <div class="youtube">
        <!-- Yt video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8NCm2Q1rZOM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
</div>
</div>
</body>
</html>