<!DOCTYPE html>
<html lang="dk" xmlns:th="http://www.thymeleaf.org">
<link rel=stylesheet type="text/css" href="../static/WTD.css">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title> Madspild </title>
</head>
<body>
<div class="Back">
</div>
<!-- Donate -->
<div class="topnav">
    <a href="home.html">Hjem</a>
    <a class="active" href="wtd.html">Hvad kan du gøre</a>
    <a href="links.html">Hjælp siden</a>
    <a href="contact.html">Kontakt os</a>
    <div class="donate">

        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="2X2MGK9FFHLSQ" />
            <input type="image" src="https://www.paypalobjects.com/da_DK/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Doner penge med PayPal-knappen" />
            <img alt="donate" height="1" src="https://www.paypal.com/da_DK/i/scr/pixel.gif" width="1"/>
        </form>
    </div>
</div>



<!-- Logo -->
<div class="logo">
    <img th:src="logo.png" src="../static/Images/logo.png" alt="logo">
</div>

<h1>
Hvad kan du gøre?
</h1>

<p>
    For at bekæmpe madspild er der 5 ting du kan gøre.
</p>
<!-- Yt video -->
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8NCm2Q1rZOM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</center>




</body>

</html>